<h1>Listing complaints</h1>

<table>
  <tr>
    <th>Complaint text</th>
    <th>Ward</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @complaints.each do |complaint| %>
  <tr>
    <td><%= complaint.complaint_text %></td>
    <td><%= complaint.ward_id %></td>
    <td><%= link_to 'Show', ward_complaint_path(@ward, complaint) %></td>
    <td><%= link_to 'Edit', edit_ward_complaint_path(@ward, complaint) %></td>
    <td><%= link_to 'Destroy', [@ward, complaint], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Complaint', new_ward_complaint_path(@ward) %>
