<p id="notice"><%= notice %></p>

<p>
  <b>Complaint text:</b>
  <%= @complaint.complaint_text %>
</p>

<p>
  <b>Ward:</b>
  <%= @ward.ward_num %>
</p>


<%= link_to 'Edit', edit_ward_complaint_path(@ward, @complaint) %> |
<%= link_to 'Back', ward_complaints_path(@ward) %>
