<p id="notice"><%= notice %></p>

<div class="alert alert-info">
<h2>Ward <%= @ward.ward_num %> </h2>
</div>
<div class="aldermaninfo">
<dl class="dl-horizontal">
  <dt>Alderman</dt>
  	<dd><%= @ward.alderman %></dd>
	<dt>Address</dt>
  	<dd><%= @ward.alderman_address %></dd>
		<dd><%= @ward.alderman_city %>, <%= @ward.alderman_state %> <%= @ward.alderman_zipcode %> <%= link_to 'Map', "http://www.google.com/maps?q=#{@ward.alderman_address}, Chicago IL" %></dd>
	<dt>Phone</dt>
  	<dd><%= @ward.alderman_phone %></dd>
	<dt>Email</dt>
  	<dd><%= mail_to @ward.alderman_email, @ward.alderman_email %></dd>
	<dt>Website</dt>
  	<dd><%= link_to @ward.alderman_website, @ward.alderman_website %></dd>
</dl>
</div>

<pre id="show">
<% if @ward.complaints.count > 0 %>
View the <strong><%= link_to pluralize(@ward.complaints.count, 'complaint'), ward_complaints_path(@ward) %></strong> in Ward <%= @ward.ward_num%>
<% else %>There are <strong>0 Complaints</strong> in Ward <%= @ward.ward_num%>
<% end %>
</pre>


<ul class="nav nav-pills nav-stacked">
<li><%= link_to 'File a New Complaint', new_ward_complaint_path(@ward) %></li>
<li><%= link_to "View More Information About Ward #{@ward.ward_num} On CityofChicago.org","http://www.cityofchicago.org/city/en/about/wards/#{@ward.ward_num}.html" %></li>
<li><%= link_to 'Back to View All Wards', wards_path %></li>
</ul>



