<p id="notice"><%= notice %></p>

<div class="alert alert-info">
<h2>Ward Number <%= @ward.ward_num %> </h2>
</div>

<pre id="show">
Number of complaints in <strong>Ward<%= @ward.ward_num %></strong>: <strong><%= link_to pluralize(@ward.complaints.count, 'complaint'), ward_complaints_path(@ward) %></strong> 
</pre>

<pre id="show">
<strong><%= link_to 'File a Complaint', new_ward_complaint_path(@ward) %></strong>
</pre>

<pre id="show">
<strong><%= link_to 'View All Wards', wards_path %></strong>
</pre>

