<p id="notice"><%= notice %></p>

<div class="alert alert-info">
<h2>Ward Number <%= @ward.ward_num %> </h2>
</div>

<pre id="show">
<% if @ward.complaints.count > 0 %>
View the <strong><%= link_to pluralize(@ward.complaints.count, 'complaint'), ward_complaints_path(@ward) %></strong> in Ward<%= @ward.ward_num%>
<% else %>There are 0 Complaints in Ward<%= @ward.ward_num%>
<% end %>
</pre>

<pre id="show">
<strong><%= link_to 'File a Complaint', new_ward_complaint_path(@ward) %></strong>
</pre>

<pre id="show">
<strong><%= link_to 'View All Wards', wards_path %></strong>
</pre>

<pre id="show">
<strong><a href="http://www.cityofchicago.org/city/en/about/wards.html">View Information About Ward<%= @ward.ward_num%></a></strong>
</pre>


